        body {
            background: linear-gradient(135deg, #f5f6f8, #e9ecef);
            font-family: 'Segoe UI', sans-serif;
        }

        .booking-card {
            background: #ffffff;
            border-radius: 20px;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
            padding: 40px;
            max-width: 800px;
            margin: auto;
        }

        #map {
            height: 400px;
            border-radius: 15px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
        }

        .btn-black {
            background-color: #000;
            color: #fff;
            border-radius: 10px;
            padding: 12px;
            font-weight: 600;
        }

        .btn-black:hover {
            background-color: #333;
            color: #fff;
        }

        .form-control {
            border-radius: 10px;
        }

        .price-box {
            background: #f8f9fa;
            border-radius: 15px;
            padding: 20px;
            border: 1px solid #ddd;
        }

        input,
        select,
        textarea {
            background: #111827 !important;
            border: 1px solid #333 !important;
            color: #fff !important;
        }

        input:focus {
            border-color: #fbbf24 !important;
            box-shadow: none !important;
        }

        #map {
            height: 300px;
            border-radius: 12px;
        }
        .invoice-box {
    background: #111827;
    border-radius: 14px;
    padding: 35px;
    border: 1px solid #2a2f3a;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.invoice-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    color: #cbd5e1;
    height: 40px;
}

.invoice-total {
    font-size: 34px;
    letter-spacing:1px;
}

@media (min-width: 992px) {
  .invoice-box {
      position: sticky;
      top: 80px;
  }
}
.terms-list li {
    margin-bottom: 8px;
    line-height: 3.6;
    font-weight: 100px;
    font-size: 14px;
}
